USE [master]
GO
/****** Object:  Database [VMT]    Script Date: 12/14/2018 5:41:55 PM ******/
CREATE DATABASE [VMT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VMT', FILENAME = N'O:\SQLData\VMT\VMT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VMT_log', FILENAME = N'O:\SQLData\VMT\VMT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VMT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VMT]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 12/14/2018 5:41:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ref] [nvarchar](100) NULL,
	[Ten] [nvarchar](250) NULL,
	[Gia] [decimal](18, 0) NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanChuyen]    Script Date: 12/14/2018 5:41:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanChuyen](
	[Id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[Ref] [nvarchar](100) NULL,
	[HangHoaId] [int] NULL,
	[HangHoaRef] [nvarchar](100) NULL,
	[XeId] [int] NULL,
	[XeRef] [nvarchar](100) NULL,
	[BienSoXe] [nvarchar](10) NOT NULL,
	[SoChuyen] [int] NOT NULL,
	[NgayVanChuyen] [datetime] NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Xe]    Script Date: 12/14/2018 5:41:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ref] [nvarchar](100) NULL,
	[BienSoXe] [nvarchar](10) NOT NULL,
	[HangXe] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[VanChuyen] ADD  CONSTRAINT [DF_NgayVanChuyen]  DEFAULT (getdate()) FOR [NgayVanChuyen]
GO
ALTER TABLE [dbo].[VanChuyen]  WITH CHECK ADD  CONSTRAINT [FK__VanChuyen__HangHoa] FOREIGN KEY([HangHoaId])
REFERENCES [dbo].[HangHoa] ([Id])
GO
ALTER TABLE [dbo].[VanChuyen] CHECK CONSTRAINT [FK__VanChuyen__HangHoa]
GO
ALTER TABLE [dbo].[VanChuyen]  WITH CHECK ADD  CONSTRAINT [FK__VanChuyen__Xe] FOREIGN KEY([XeId])
REFERENCES [dbo].[Xe] ([Id])
GO
ALTER TABLE [dbo].[VanChuyen] CHECK CONSTRAINT [FK__VanChuyen__Xe]
GO
USE [master]
GO
